<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading"><%= post.title %><div style="text-align: right; display: inline-flex; padding-left: 10px;">views: <%= post.views %> likes: <%= post.likes %></div></div>
        <div class="panel-body"><%= post.discription %></div>
        <div class="panel-heading">by <%= post.author %> on <%= post.datePosted %></div>
    </div> 
  </div>